# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/models/sherpa-onnx-streaming-zipformer-fr-2023-04-14/decoder-epoch-29-avg-9-with-averaged-model.int8.onnx
public/models/sherpa-onnx-streaming-zipformer-fr-2023-04-14/decoder-epoch-29-avg-9-with-averaged-model.onnx
public/models/sherpa-onnx-streaming-zipformer-fr-2023-04-14/encoder-epoch-29-avg-9-with-averaged-model.int8.onnx
public/models/sherpa-onnx-streaming-zipformer-fr-2023-04-14/encoder-epoch-29-avg-9-with-averaged-model.onnx
public/models/sherpa-onnx-streaming-zipformer-fr-2023-04-14/export-onnx-stateless7-streaming.sh
public/models/sherpa-onnx-streaming-zipformer-fr-2023-04-14/joiner-epoch-29-avg-9-with-averaged-model.int8.onnx
public/models/sherpa-onnx-streaming-zipformer-fr-2023-04-14/joiner-epoch-29-avg-9-with-averaged-model.onnx
public/models/sherpa-onnx-streaming-zipformer-fr-2023-04-14/README.md
public/models/sherpa-onnx-streaming-zipformer-fr-2023-04-14/test_wavs/common_voice_fr_19364697.wav
public/models/sherpa-onnx-streaming-zipformer-fr-2023-04-14/test_wavs/common_voice_fr_19738183.wav
public/models/sherpa-onnx-streaming-zipformer-fr-2023-04-14/test_wavs/common_voice_fr_27024649.wav
public/models/sherpa-onnx-streaming-zipformer-fr-2023-04-14/test_wavs/trans.txt
public/models/sherpa-onnx-streaming-zipformer-fr-2023-04-14/tokens.txt
public/models/silero_vad.onnx
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/af_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/am_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/an_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ar_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/as_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/az_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ba_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/be_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/bg_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/bn_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/bpy_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/bs_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ca_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/chr_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/cmn_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/cs_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/cv_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/cy_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/da_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/de_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/el_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/en_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/eo_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/es_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/et_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/eu_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/fa_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/fi_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/fr_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ga_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/gd_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/gn_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/grc_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/gu_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/hak_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/haw_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/he_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/hi_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/hr_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ht_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/hu_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/hy_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ia_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/id_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/intonations
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/io_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/is_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/it_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ja_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/jbo_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ka_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/kk_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/kl_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/kn_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ko_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/kok_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ku_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ky_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/la_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/aav/vi
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/aav/vi-VN-x-central
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/aav/vi-VN-x-south
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/art/eo
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/art/ia
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/art/io
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/art/jbo
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/art/lfn
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/art/piqd
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/art/py
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/art/qdb
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/art/qya
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/art/sjn
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/azc/nci
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/bat/lt
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/bat/ltg
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/bat/lv
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/bnt/sw
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/bnt/tn
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/ccs/ka
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/cel/cy
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/cel/ga
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/cel/gd
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/cus/om
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/dra/kn
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/dra/ml
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/dra/ta
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/dra/te
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/esx/kl
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/eu
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmq/da
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmq/is
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmq/nb
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmq/sv
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmw/af
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmw/de
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmw/en
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmw/en-029
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmw/en-GB-scotland
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmw/en-GB-x-gbclan
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmw/en-GB-x-gbcwmd
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmw/en-GB-x-rp
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmw/en-US
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmw/en-US-nyc
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmw/lb
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/gmw/nl
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/grk/el
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/grk/grc
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/inc/as
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/inc/bn
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/inc/bpy
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/inc/gu
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/inc/hi
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/inc/kok
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/inc/mr
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/inc/ne
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/inc/or
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/inc/pa
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/inc/sd
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/inc/si
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/inc/ur
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/ine/hy
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/ine/hyw
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/ine/sq
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/ira/fa
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/ira/fa-Latn
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/ira/ku
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/iro/chr
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/itc/la
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/jpx/ja
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/ko
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/map/haw
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/miz/mto
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/myn/quc
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/poz/id
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/poz/mi
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/poz/ms
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/qu
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/roa/an
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/roa/ca
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/roa/es
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/roa/es-419
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/roa/fr
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/roa/fr-BE
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/roa/fr-CH
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/roa/ht
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/roa/it
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/roa/pap
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/roa/pt
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/roa/pt-BR
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/roa/ro
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/sai/gn
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/sem/am
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/sem/ar
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/sem/he
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/sem/mt
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/sit/cmn
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/sit/cmn-Latn-pinyin
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/sit/hak
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/sit/my
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/sit/yue
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/sit/yue-Latn-jyutping
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/tai/shn
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/tai/th
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/trk/az
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/trk/ba
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/trk/cv
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/trk/kk
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/trk/ky
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/trk/nog
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/trk/tk
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/trk/tr
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/trk/tt
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/trk/ug
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/trk/uz
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/urj/et
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/urj/fi
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/urj/hu
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/urj/smj
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/zle/be
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/zle/ru
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/zle/ru-cl
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/zle/ru-LV
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/zle/uk
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/zls/bg
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/zls/bs
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/zls/hr
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/zls/mk
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/zls/sl
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/zls/sr
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/zlw/cs
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/zlw/pl
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lang/zlw/sk
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lb_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lfn_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lt_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/lv_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/mi_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/mk_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ml_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/mr_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ms_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/mt_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/mto_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/my_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/nci_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ne_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/nl_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/no_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/nog_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/om_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/or_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/pa_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/pap_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/phondata
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/phondata-manifest
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/phonindex
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/phontab
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/piqd_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/pl_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/pt_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/py_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/qdb_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/qu_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/quc_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/qya_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ro_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ru_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/sd_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/shn_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/si_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/sjn_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/sk_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/sl_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/smj_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/sq_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/sr_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/sv_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/sw_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ta_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/te_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/th_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/tk_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/tn_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/tr_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/tt_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ug_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/uk_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/ur_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/uz_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/vi_dict
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/adam
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Alex
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Alicia
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Andrea
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Andy
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/anika
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/anikaRobot
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Annie
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/announcer
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/antonio
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/AnxiousAndy
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/aunty
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/belinda
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/benjamin
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/boris
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/caleb
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/croak
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/david
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Demonic
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Denis
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Diogo
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/ed
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/edward
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/edward2
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/f1
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/f2
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/f3
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/f4
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/f5
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/fast
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Gene
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Gene2
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/grandma
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/grandpa
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/gustave
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Henrique
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Hugo
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/ian
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/iven
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/iven2
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/iven3
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/iven4
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Jacky
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/john
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/kaukovalta
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/klatt
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/klatt2
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/klatt3
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/klatt4
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/klatt5
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/klatt6
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Lee
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/linda
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/m1
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/m2
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/m3
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/m4
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/m5
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/m6
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/m7
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/m8
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/marcelo
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Marco
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Mario
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/max
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Michael
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/michel
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/miguel
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Mike
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/mike2
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Mr serious
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Nguyen
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/norbert
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/pablo
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/paul
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/pedro
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/quincy
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Reed
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/RicishayMax
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/RicishayMax2
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/RicishayMax3
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/rob
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/robert
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/robosoft
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/robosoft2
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/robosoft3
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/robosoft4
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/robosoft5
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/robosoft6
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/robosoft7
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/robosoft8
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/sandro
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/shelby
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/steph
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/steph2
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/steph3
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Storm
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/travis
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/Tweaky
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/UniRobot
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/victor
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/whisper
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/whisperf
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/voices/\!v/zac
public/models/vits-piper-fr_FR-siwis-medium/espeak-ng-data/yue_dict
public/models/vits-piper-fr_FR-siwis-medium/fr_FR-siwis-medium.onnx
public/models/vits-piper-fr_FR-siwis-medium/fr_FR-siwis-medium.onnx.json
public/models/vits-piper-fr_FR-siwis-medium/MODEL_CARD
public/models/vits-piper-fr_FR-siwis-medium/tokens.txt
